$black: #2a2a24;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-size: 14px;
}

#root {
  overflow: auto;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
  helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  background: #f1f4f8;
}

header {
  box-shadow: -1px -9px 12px 7px black;
  z-index: 999;
  position: absolute;
  width: 100%;
  padding: 24px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
  pointer-events: none;

  .logo,
  .episode {
    span {
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: 0.04rem;
    }
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    pointer-events: all;
    z-index: 9999;
    width: 100%;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #00d0b2;
      font-weight: bold;
      margin-right: 20px;
    }
  }

}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  overscroll-behavior: none;
}

button {
  border: none;
  outline: none;
}

body, .swarmScreen > div {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  //background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background-image: radial-gradient(circle, #2c5364, #2a4e5e, #274957, #254551, #23404b, #213c46, #1e3741, #1c333c, #192e37, #152931, #12252c, #0f2027);
  //background: linear-gradient(to right, #3a6186, #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  top: 0;

  .fullscreen__btn {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 20px;
    z-index: 999999;
    background: none;
    border: 2px solid #33FFBD;
    padding: 5px;
    cursor: pointer;
    pointer-events: all;

    &--enter {
      opacity: 1;
      visibility: visible;
      height: 100%;

      transform: scale(.8);
      transition: .1s ease-in all;

      &:hover {
        transform: scale(1);
        transition: .1s ease-in all;
      }
    }

    &--exit {
      opacity: 0;
      visibility: hidden;
      height: 0;

      transform: scale(1);
      transition: .1s ease-in all;

      &:hover {
        transform: scale(.8);
        transition: .1s ease-in all;
      }
    }
  }

  &-enabled {
    .fullscreen__btn {
      &--enter {
        opacity: 0;
        visibility: hidden;
        height: 0;
      }

      &--exit {
        opacity: 1;
        visibility: visible;
        height: 100%;
      }
    }
  }
}

h1 {
  color: pink;

  &:hover {
    color: green;
  }
}


.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

.tooltip {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  box-shadow: 1px 1px 11px 6px #33FFBD;
  border-radius: 10px;
  margin-bottom: 25px;
  font-family: 'Nova Square', cursive;
  background: rgba(0,0,0,.2);

  @media screen and (max-width: 768px) {
    width: 80vw;
    font-size: 12px;
  }
}

* {
  font-family: 'Nova Square', cursive;
}
